@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans;
}

.loader {
  width: 16px;
  height: 16px;
  /* margin-left: 5px; */
  border: 3px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Scrollbar style comme Facebook */
.scrollbar-thin-fb::-webkit-scrollbar {
  width: 6px;
}

.scrollbar-thin-fb::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-thin-fb::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  border: 2px solid transparent;
  background-clip: content-box;
}

.scrollbar-thin-fb:hover::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4);
}

.group .scrollbar-thin-fb::-webkit-scrollbar {
  width: 0px;
}

.group:hover .scrollbar-thin-fb::-webkit-scrollbar {
  width: 10px;
  border-radius: 20px;
}
